@model ShowGuide.Models.Categoria

@{
    ViewBag.Title = "Registar nova categoria";
}

<h2>@ViewBag.Title</h2>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <input type="submit" value="Registar" class="btn btn-primary mr-2" />
            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-secondary" })
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
