@model IEnumerable<ShowGuide.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>@ViewBag.Title</h2>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Index", "Categorias", FormMethod.Get, new { @class = "row" }))
        {
            if (User.IsInRole("Admin"))
            {
                <div class="col-lg-2 mt-2 mb-2">
                    @Html.ActionLink("Registar", "Create", new { }, new { @class = "btn btn-primary col-12" })
                </div>
            }
            <div class="form-group col-lg mt-2 mb-2">
                <input type="search" name="search" class="form-control col-12" value="@ViewBag.search" />
            </div>
            <div class="col-lg-2  mt-2 mb-2">
                <button type="submit" class="btn btn-success col-12">Pesquisar</button>
            </div>
        }
    </div>
</div>
<div class="card mt-4">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary mr-2" })

                    @using (Html.BeginForm("Delete", "Categorias", FormMethod.Post, new { @class = "d-inline", onsubmit = "return verifyDelete();" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", item.Id)
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    }
                </td>
            </tr>
        }
        @if (Model.Count() == 0)
        {

            <tr>
                <td colspan="2" style="text-align: center;">
                    Não foram encontradas categorias.
                </td>
            </tr>
        }

    </table>
</div>