@model ShowGuide.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 class="row">Olá, @Html.DisplayFor(m => m.Nome)</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
@Html.ActionLink("Alterar Palavra-Chave", "ChangePassword", new object { }, new { @class = "btn btn-primary" })

@using (Html.BeginForm("ChangeNome", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    <h4>Alterar Dados Pessoais</h4>
    <div class="form-group row">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control col-12" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary mr-2" />
    </div>
}